- page_title _('Start your Free Ultimate Trial')
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"
= render "layouts/google_tag_manager_body"

.row
  - experiment(:automatic_trial_registration, actor: current_user) do |e|
    - e.exclude! if trial_selected?
    - e.control do
      .col-md-6.m-sm-6
        %h2.gl-pb-5.gl-my-0
          = _("About your company")
        #js-registrations-company-form{ data: create_company_form_data }

      .col-md-4.company-illustration
        = image_tag 'illustrations/saas-trial-illustration.svg', alt: '', class: 'gl-display-none d-md-inline gl-w-full'
    - e.candidate do
      .col-md-6.m-6
        %h2.gl-pb-5.gl-my-0
          = _("About your company")
        #js-registrations-company-form{ data: create_company_form_data.merge(automatic_trial: 'true') }
      = render 'automatic_trial_reassurances'
